<router-outlet></router-outlet>
<app-header [deviceMd]="deviceMd"></app-header>


<!-- Button to Open the Modal -->




 
<!-- 
<div class="master">
  <div class="header-section">
    <nav class="navbar">
      <div class="column-1">
        <div class="brand-name">
          <a class="navbar-brand" routerLink="/home" style="color: #fff"
            >Vivascope</a
          >
        </div>

        <div class="left-topcontrol">
          <button class="btn btn1">
            <strong> PATIENT LIST </strong>
          </button>
          

          <div class="left-buttons">
            <ul class="top-left-control">
              <li>
                <a href="#"><i class="fas fa-plus" style="color: #fff"></i></a>
              </li>
              <li>
                <a href="#"
                  ><i class="fas fa-search" style="color: #fff"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="column-2">
        <div class="col2-top-sec">
          <li>
            <a href="#"><i class="fas fa-cog" style="color: #fff"></i></a>
          </li>
          <li>
            <a href="#"><i class="fas fa-user" style="color: #fff"></i></a>
          </li>
        </div>

        <div class="col2-mid-sec">
          <ul class="progressbar">
            <li class="active">Place The Slider</li>
            <li>Personal Details</li>
            <li>Auto Calibration</li>
            <li>Auto Region Selection</li>
            <li>Image Capturing</li>
            <li>WTC Module</li>
            <li>Image Processing</li>
            <li>Image Analysis</li>
            <li>Report</li>
          </ul>
        </div>

        <div class="col2-bot-sec">
          <div class="left-section">
            <p>PID:</p>
            <p>TID:</p>

            <div class="left-buttons">
              <ul>
                <li>
                  <a href="#"><i class="fas fa-pen" style="color: #fff"></i></a>
                </li>
              </ul>
            </div>
          </div>

          <div class="right-section">
            <button class="btn btn2">
              <strong> START </strong>
            </button>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="main-section">
    <h1>Insert the Slider</h1>
  </div>
</div>

<footer class="special-color-dark">
  <p class="text-footer">Copyright &copy; 2021 - All rights reserved</p>
</footer> -->

<!-- 
<nav class="navbar navbar-expand-md navbar-dark bg-dark" >
  <a class="navbar-brand" routerLink="/home">Domino's Pizza</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample04">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/statistics">Place Order</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      
    </ul>
  </div>
</nav> -->

<!-- <h1>ashfkjasdfh</h1> -->
